body{
  background: -webkit-linear-gradient(right, red, blue);
  background: linear-gradient(to left, yellow, red);
}
.App {
  text-align: center;
}

.App-header {
  background: -webkit-linear-gradient(right, red, blue);
  background: linear-gradient(to left, yellow, red);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
img{
  border-radius: 25px;
  padding: 20px;
}
button{
  border-radius: 25px;
  padding: 20px;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
button:hover{
  background-color: yellow;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
